<div class="row">
        <div class=col-12>...</div>
    </div>
    <div class="row">
            <div class=col-12>...</div>
        </div>
    
    
    
    <div class="row"  margin=10px>
        
         
        <div align="center" class="col-2">
            <div class="dropdown">  
                <select id ="meals" >
                    <option value=#></option>
                    <option value="BREAKFAST">Breakfast</option>
                    <option value="LUNCH">Lunch</option>
                    <option value="DINNER">Dinner</option>
                    <option value="SNACK">Snack</option>
                    
                </select>
              </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                    <input  type="text" id="food"  class="form-control" placeholder="What did you have ?" aria-label="What did you have ?">
              </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <input  type="number" id="calories"  class="form-control" placeholder="how many calories ?" aria-label="how many calories ?">
                <span class="input-group-btn">
                    <button id="btn1" class="btn btn-secondary" type="button" onclick=addfood() (click)="addfood($event)" >ADD</button>
             </span>
              </div>
        </div>
    
        <div id="mealList-placeholder">  </div>
    
