

<div class="row" > 
<div class="col-1">
    
   
</div>
<div class="col-mid-10" align="center" >
    <h6>Enter an excerices, then enter the amount that on the line, then add the caloires then click add to add your excerice to Your Workout. </h6>
</div>
<div class="col-1">

</div>
</div>



<div class="row" > 
    <div class="col-4">
        <h2>Health News</h2>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="https://cimg1.ibsrv.net/cimg/www.fitday.com/693x350_85-1/65/11fit-105065.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                            <h3 class="text-warning">The Importance of Physical Fitness</h3>
                            <a href="https://www.fitday.com/fitness-articles/nutrition/healthy-eating/the-importance-of-physical-fitness.html" class="btn btn-primary">Read Me</a>          
                          </div>
                  </div>
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="https://static01.nyt.com/images/2013/09/18/science/18wellphysed/18wellphysed-tmagArticle.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                            <h3>How Physical Fitness May Promote School Success</h3>
                            <a href="https://well.blogs.nytimes.com/2013/09/18/how-physical-fitness-may-promote-school-success/" class="btn btn-primary">Read Me</a> 
                         </div>
                  </div>
                  
                </div>
                
              </div>

    </div>


    <div class="col-md-3">
        <div class="card"  id="activityList">
            <div class="card-header">
                <b>Your Workout</b>
            </div>


    <app-list></app-list>

        </div>
    </div>

    <div class="col-md-3">
        <button  >Submit</button>
    </div>



<div class="row"  margin=10px>
    <div class="col-1"></div>
     
   
</div>




</div>
