<div class="row">
    <div class=col-12>...</div>
</div>
<div class="row">
    <div class=col-12>...</div>
</div>


<div class="row" > 
  <div class="col-1">
     
  </div>
  <div class="col-10" align="center">
      <p>Select an excerices from the drop down menu, then enter the amount that on the line, then click add to add your excerice to Your Workout. </p>
  </div>
  <div class="col-1">

  </div>
</div>



<div class="row"  margin=10px>
  <div class="col-1"></div>
   
  <div align="left" class="col-3">
      <div class="dropdown">  
          <select id ="userExercise">
              <option value=#></option>
              <option value="SIT-UP">SIT-UP</option>
              <option value="PUSH-UP">PUSH-UP</option>
              <option value="PULL-UP">PULL-UP</option>
              <option value="SQUAT">SQUAT</option>
              <option value="RUNNING">RUNNING</option>
              <option value="SWIMMING">SWIMMING</option>
          </select>
        </div>
  </div>
  <div class="col-4">
      <div class="input-group">
              <span class="input-group-btn">
                      <button id="btn1" class="btn btn-secondary" type="button" onclick=addAct() >ADD</button>
               </span>
          <input  type="text" id="userAmount"  class="form-control" placeholder="How many ?" aria-label="How many ?">
        </div>
  </div>
  <div id="actList-placeholder">
      

  </div>
  <div class="row"  margin=10px>
      <div class="col-1"></div>
       
     
</div>




</div>