<input #thing placeholder="Exercise" />
<input #what placeholder="How long / many" />
<input type="number" #calories placeholder="Calories" />
<button class="btn btn-success"  (click)="addItem(thing.value,what.value,calories.value)">Add </button>

<table>
  <tr *ngFor="let list of Lists" style="margin-bottom: 10px;">
      <td>{{list.descr}}</td> <td><button class="btn btn-primary" (click)="removeItem(lists)">Delete</button></td>
  </tr>
</table>

  <div class="card-header text-white bg-dark">Calore Count ------- {{calCount}} 
    <button class="btn btn-danger" (click)="resetCal()">Reset Calories</button>
          </div>


          