<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" ><img src="..\..\assets\img\Get Fit logo.jpg" style="width:100%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/activities" routerLinkActive="active">Activities</a>
        <a class="nav-item nav-link" routerLink="/calories" routerLinkActive="active">Calories</a>
        <a class="nav-item nav-link "routerLink="/profile"  routerLinkActive="active">Profile</a>
        </div>
    </div>
    

</nav>
          
                 
