

<div class="row justify-content-around">
    <div class="col-md-4">
        
             <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="..\..\assets\img\profile image.jpeg" alt="Activitie">
                <div class="card-body">
                  <h4 class="card-title">Profile</h4>
                  <p class="card-text"><b>Profile</b> update goals and current weight and calories.</p>
                  <a routerLink="/profile" class="btn btn-primary">View Profile</a>
                </div>
              </div>
          </div>


      <div class="col-md-4">
  
       <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="..\..\assets\img\exercise.jpg" alt="Activitie">
          <div class="card-body">
            <h4 class="card-title">Activities</h4>
            <p class="card-text">Log <b>activities</b> that you have done to track caleries output.</p>
            <a routerLink="/activities" class="btn btn-primary">Log Activities</a>
          </div>
        </div>
    </div>
  
    <div class="col-mid-4">
      <div class="card" style="width: 20rem;">
           <img class="card-img-top" src="..\..\assets\img\Calories.jpg" alt="Calories">
        <div class="card-body">
          <h4 class="card-title">Calories</h4>
          <p class="card-text">Log <b>calories</b> that you have eaten or Drank to track caloires in. It is important to keep track. </p>
          <a routerLink="/calories" class="btn btn-primary">Log Calories</a>
        </div>
      </div>
    </div>
  </div>
  