
<h1>Welcome {{User.name}}</h1>

    <div class="row justify-content-around">
        <div class="col-md-4">
            <div class="card-header text-white bg-info"> <h5> My Goals </h5></div>
            <div class="card" >
                    <div class="card-body">
                        <h4 class="card-title">Weight</h4>
                        <p class="card-text">My ideal weight is XXX.</p>
                        <a  class="btn btn-primary">change</a>
                    </div>
                    </div>
                    
                    <div class="card text" >
                    <div class="card-body">
                        <h4 class="card-title">Activity</h4>
                        <p class="card-text">My ideal activities is XXX a day.</p>
                        <a  class="btn btn-primary">Change</a>
                    </div>
                    </div>
                    
                    <div class="card text" >
                    <div class="card-body">
                        <h4 class="card-title">Calories</h4>
                        <p class="card-text">My ideal Calories is XXX a day</p>
                        <a  class="btn btn-primary">Change</a>
                    </div>
            </div>
        </div>
            
        
        <div class="col-md-4">
                <div class="card-header text-white bg-info"> <h5> My Current Status </h5></div>
                <div class="card" >
                        <div class="card-body">
                            <h4 class="card-title">Weight</h4>
                            <p class="card-text">My current weight is XXX.</p>
                            <a  class="btn btn-primary">change</a>
                        </div>
                        </div>
                        
                        <div class="card text" >
                        <div class="card-body">
                            <h4 class="card-title">Activity</h4>
                            <p class="card-text">My current activities is XXX a day.</p>
                            <a  class="btn btn-primary">Change</a>
                        </div>
                        </div>
                        
                        <div class="card text" >
                        <div class="card-body">
                            <h4 class="card-title">Calories</h4>
                            <p class="card-text">My current Calories is XXX a day</p>
                            <a  class="btn btn-primary">Change</a>
                        </div>
                        </div>
                
            </div>

        </div>