
<h1>Welcome </h1>

    <div class="row justify-content-around">
        <div class="col-md-4">
            <div class="card-header text-white bg-info"> <h5> My Goals </h5></div>
            <div class="card" >
                    <div class="card-body">
                        <h4 class="card-title">Weight</h4>
                        <p class="card-text">My ideal weight is {{goalWeight}}.</p>
                        <input #GW placeholder="Goal Weight" >
                        <a (click)="updateGW(GW.value)" class="btn btn-primary">change</a>
                    </div>
                    </div>
                    
                    
                    
                    <div class="card text" >
                    <div class="card-body">
                        <h4 class="card-title">Calories</h4>
                        <p class="card-text">My ideal Calories is {{goalCalories}} a day</p>
                        <input #GC placeholder="Goal Calories" >                        
                        <a (click)="updateGC(GC.value)" class="btn btn-primary">Change</a>
                    </div>
            </div>
        </div>
            
        
        <div class="col-md-4">
                <div class="card-header text-white bg-info"> <h5> My Current Status </h5></div>
                <div class="card" >
                        <div class="card-body">
                            <h4 class="card-title">Weight</h4>
                            <p class="card-text">My current weight is {{currentWeight}}.</p>
                            <input #CW placeholder="Current Weight" >                            
                            <a (click)="updateCW(CW.value)" class="btn btn-primary">change</a>
                        </div>
                        </div>
                        
                        
                        
                        <div class="card text" >
                        <div class="card-body">
                            <h4 class="card-title">Calories</h4>
                            <p class="card-text">My current Calories is {{currentCalories}} a day</p>
                            <input #CC placeholder="Current Calories" >                                                        
                            <a (click)="updateCC(CC.value)" class="btn btn-primary">Change</a>
                        </div>
                        </div>
                
            </div>

        </div>